# Question 1.

In [19]:
my_name="Evan Mungin"

print(my_name)

Evan Mungin

# Question 2.

In [20]:
my_id=99

print(my_id)

99

# Question 3.

In [21]:
my_id_str="99"

print(my_id_str)

99

# Question 4.

In [22]:
my_name+my_id

You cannot perform this due to an error in formats. 
They must both be in str, not int.

SyntaxError: invalid syntax (<ipython-input-22-bc3d2dc6a1f8>, line 3)

# Question 5

In [37]:
my_name+my_id_str

#Yes, you can perform this due to both of the values being in string format.

'Evan Mungin99'

# Question 6

In [25]:
my_str="hello, world. This is my first python string."

print(my_str)

hello, world. This is my first python string.

In [26]:
print(my_str.split("."))

['hello, world', ' This is my first python string', '']

# Question 7.

In [27]:
str_list=["a","b","c","e","d"]

str_list.sort()

print(str_list)

#Yes, you can sort the list due to the correct format.

['a', 'b', 'c', 'd', 'e']

# Question 8

In [28]:
str_list.append("f")

print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Question 9

In [29]:
str_list.remove("d")

print(str_list)

['a', 'b', 'c', 'e', 'f']

# Question 10

In [30]:
print(str_list[2])

c

# Question 11

In [31]:
num_list=[12,32,43,35]

print(str_list+num_list)

#Yes, you can add these two together due to both of them being lists.

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# Question 12

In [32]:
my_dict={"name":"Evan","id":(my_id)}

print(my_dict)

{'name': 'Evan', 'id': 99}

# Question 13

In [33]:
my_dict["name"]="Mungin"

print(my_dict)

{'name': 'Mungin', 'id': 99}

# Question 14

In [34]:
print(my_dict["id"])

99

# Question 15

In [35]:
my_dict["id"]=77

print(my_dict)

{'name': 'Mungin', 'id': 77}

# Question 16

In [36]:
my_dict["num_list"]=num_list

print(my_dict)

{'name': 'Mungin', 'id': 77, 'num_list': [12, 32, 43, 35]}

# Question 17